ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8DB600;
  text-align: center;
  font-size: 20px;


}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D1E231;
}
body{
font-family: "Audiowide", sans-serif;
color: #8DB600;
}
article{
  float: left;
  width: 70%;
  padding: 20px;
  background-color: #faffee;
  border-radius: 20px;
  border-color: #eaeedd;
  border-style: solid;
  
}
aside{
  background-color: #DDEEBB;
}
abbr{
  text-decoration: none;
  border-bottom: none;
}